<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon" sizes="64x64">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1646803350979604"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R9709RXE4G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R9709RXE4G');
</script>

<body>
    <div class="container">
        <h1>Login</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <label for="username">Username</label>
            {{ form.username(class="input-field") }}

            <label for="password">Password</label>
            {{ form.password(class="input-field") }}
        
            {{ form.submit(class="button") }}
        </form>
        <a href="{{ url_for('register') }}">Hast du noch keinen Account? Registriere jetzt</a>
    </div>
</body>

</html>
